.vs/
*.cache/

# Ignorar archivos binarios generados por la compilación
bin/
obj/

# Ignorar archivos temporales de Visual Studio
*.suo
*.user
*.userosscache
*.sln.docstates

# Ignorar archivos de configuración del entorno de desarrollo
.vscode/
.idea/

# Ignorar archivos de sistema
.DS_Store
Thumbs.db

# Archivos binarios
*.exe
*.pdb

# Carpetas de compilación
bin/
obj/


/Proyecto DB2/AreaEmpleado.resx
